<footer>
    <p>Inventory Management application project for The Odin Project by Rokas SimonaviÄius [ <a href="https://github.com/rokasSimon/Inventory-Application">GitHub repository</a> ]</p>
</footer>