<header>
    <div class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">Scuffed Microcenter</a>
            <div class="link-list">
                <a href="/category" class="navbar-link">Categories</a>
                <a href="/product" class="navbar-link">Products</a>
                <a href="/manufacturer" class="navbar-link">Manufacturers</a>
            </div>
        </div>
    </div>
</header>